@import 'assets/styles/variables';

.wrapper {
  font-style: inherit;
  line-height: 1.33333;
  color: #6b778c;
  font-weight: 600;
  display: inline-block;
  font-family: $font-family;
  margin-right: 10px;
  margin-top: 0px;
  white-space: nowrap;

  &.required:before {
    content: "*";
    color: #de350b;
    display: inline-block;
    padding-right: 5px;
  }
}
