stages:
  - install
  - build
  - publish
  - deploy
  - clean-cache

before_script:
  - touch .npmrc
  - echo "@frontend1:registry=https://gitlab.bigdatainn-prd.site/api/v4/projects/${CI_PROJECT_ID}/packages/npm/" >> .npmrc
  - echo "//gitlab.bigdatainn-prd.site/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
  - echo "//gitlab.bigdatainn-prd.site/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
  - cat .npmrc
  - ls -al

install:
  stage: install
  image: node:16.6.1-stretch
  cache:
    - key:
        files:
          - yarn.lock
      policy: pull-push
      paths:
        - node_modules/
  script:
    - yarn install --frozen-lockfile

build:story-book:
  stage: build
  image: node:16.6.1-stretch
  cache:
    - key:
        files:
          - yarn.lock
      policy: pull
      paths:
        - node_modules/
  needs: ['install']
  except: ['tags']
  script:
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    expire_in: 1 hour
    paths:
      - ./storybook-static

build:core-uikit:
  stage: build
  image: node:16.6.1-stretch
  cache:
    - key:
        files:
          - yarn.lock
      policy: pull
      paths:
        - node_modules/
  needs: ['install']
  script:
    - yarn install --frozen-lockfile
    - yarn build:library
  artifacts:
    expire_in: 1 hour
    paths:
      - build

publish:
  stage: publish
  image: node:16.6.1-stretch
  cache:
    - key:
        files:
          - yarn.lock
      policy: pull
      paths:
        - node_modules/
  only:
    - master
  needs: ['build:core-uikit']
  script:
    - export GIT_SSL_NO_VERIFY=1
    - ls ./build -al
    - yarn install --frozen-lockfile
    - npm run semantic-release --debug

deploy-gcs:sotry-book:
  image: google/cloud-sdk:slim
  stage: deploy
  needs: ['build:story-book']
  before_script:
    - ""
  only:
    - master
  script:
    - gcloud auth activate-service-account --key-file $GCS_KEY
    - gsutil -m rsync -d -r storybook-static gs://core-uikit-storybook

invalid-CDNcache:story-book:
  image: google/cloud-sdk:slim
  stage: clean-cache
  before_script:
    - ""
  only:
    - master
  needs: ['deploy-gcs:sotry-book']
  script:
    - gcloud auth activate-service-account --key-file $GCS_KEY
    - gcloud compute url-maps invalidate-cdn-cache storybook-website-lb --path "/*" --async --project $PROJECT_ID
