 image: node:16.6.1-stretch

 stages:
   - deploy

deploy:
  stage: deploy
#  only: ['tags']
  script:
    - echo CI_PROJECT_ID $CI_PROJECT_ID
    - echo CI_JOB_TOKEN $CI_JOB_TOKEN
    - cat .npmrc
    - yarn
    - yarn build:library
    - ls -al
    - npm publish
