@frontend1:registry=https://gitlab.bigdatainn-prd.site/api/v4/packages/npm/
//https://gitlab.bigdatainn-prd.site/api/v4/packages/npm/:_authToken=7x1LFsePSFfUsJzTtsMU
//https://gitlab.bigdatainn-prd.site/api/v4/projects/55/packages/npm/:_authToken=7x1LFsePSFfUsJzTtsMU