$color: #c8b7a4;

%disabled {
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:active:hover {
    cursor: default;
    box-shadow: none;
    text-decoration: none;
    opacity: 0.5;
  }
}

.wrapper {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: auto;
  min-width: 70px;
  border: 1px solid transparent;
  border-radius: 17px;
  font-size: 14px;
  padding: 0 10px;
  transition: all 0.4s;
  outline: none;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.block {
    width: 100%;
  }

  .primary {
    background-color: $color;
    border-color: $color;
    color: #ffffff;
    @extend %disabled;

    &:not([disabled]) {
      &:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
        text-decoration: none;
      }

      &:active,
      &:hover:active {
        border-color: darken($color, 20%);
        color: #ffffff;
        background-color: darken($color, 20%);
      }
    }
  }

  .secondary {
    background: #ffffff;
    border-color: $color;
    color: $color;
    @extend %disabled;

    &:not([disabled]) {
      &:hover {
        border-color: darken($color, 10%);
        color: darken($color, 10%);
      }

      &:active,
      &:hover:active {
        border-color: darken($color, 20%);
        color: darken($color, 20%);
      }
    }
  }

  .link {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: $color;
    min-width: initial;
    height: initial;
    @extend %disabled;

    &:not([disabled]) {
      &:hover {
        color: darken($color, 10%);
      }

      &:active,
      &:hover:active {
        color: darken($color, 20%);
      }
    }
  }
}
