.wrapper {
  width: 100%;
  display: flex;
  align-items: center;

  .progress-bar {
    width: calc(100% - 57px);
    height: 16px;
    background-color: #F6F6F7;
    border-radius: 0 2px 2px 0;

    .inner {
      height: 100%;
      background-color: #557CC4;
      border-radius: 0 2px 2px 0;
    }
  }

  .percent {
    width: 57px;
    padding-left: 20px;
    text-align: right;
    color: #45536C;
    font-size: 14px;
    line-height: 24px;
  }
}