.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #32325d;
  list-style: none;
  font-size: 18px;
  line-height: 1.5715;

  .nav-tabs {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    padding: 0;
    font-weight: 400;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      width: inherit;
      height: 2px;
      border-radius: 2px;
      background-color: rgb(235, 236, 240);
      content: '';
    }

    .tab {
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 6px 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.8;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid;
        color: #4d7bca;
        font-weight: 500;

        // &:after {
        //   position: absolute;
        //   right: 8px;
        //   bottom: 0;
        //   left: 8px;
        //   margin: 0;
        //   width: inherit;
        //   height: 0;
        //   border-bottom: 2px solid rgb(0, 82, 204);
        //   border-radius: 2px;
        //   content: '';
        // }
      }
    }
  }

  .tab-content {
    position: relative;
    display: flex;
    background-color: var(--navigation-background-color-light);
    margin-bottom: 30px;

    .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
