.wrapper {
    display: flex;
    flex-direction: row;
    height: 1.71429em;
    line-height: 1.71429em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: rgb(23, 43, 77);
    font-size: 14px;
    font-weight: 400;
    
    &::after{
        content: "/";
        flex-shrink: 0;
        padding: 0px 8px;
        text-align: center;
        width: 8px;
    }
    a{
        text-decoration: none;
    }
    .text{
        font-size: inherit;
        font-style: normal;
        font-family: inherit;
        cursor: pointer;
        line-height: inherit;
        font-weight: 400;
        color: #6B778C;
    }
    
    .text:hover {
        background: none;
        text-decoration: underline;
        transition-duration: 0s, 0.15s;
        color: #8993A4 !important;
    }
    
    .active {
        text-decoration: none;
        pointer-events: none;
        color: rgb(23, 43, 77);
    }

    .icon {
        > svg {
            > path {
              fill: #C9CBCE;
            }
        }
    }
}
