.buttons {
  display: flex;

  .check {
    margin-right: 4px;
  }

  .check,
  .cross {
    width: 32px;
    padding-left: 12px !important;

    > div {
      margin-right: 0px !important;
    }
  }
}
