.container {
  position: relative;

  :global {
    .DayPicker {
      width: 640px;
      padding: 30px 10px 16px;
      border-radius: 3px;
      border: none;
      background: #fff;
      font-family: "SF Pro Text", sans-serif;
      outline: none;
      box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);

      &:before {
        content: "";
        width: 0;
        height: 0;
        border: 6px solid black;
        border-color: transparent #fff #fff transparent;
        transform: rotate(-135deg);
        position: absolute;
        top: -6px;
        right: 30px;
        box-shadow: 5px 5px 5px 0px rgba(51, 51, 51, 0.05);
      }

      .DayPicker-wrapper {
        position: inherit;
        padding: 0;
        outline: none;
      }

      .DayPicker-Caption {
        color: #172B4D;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 18px;
      }

      .DayPicker-NavButton {
        top: 30px;
        margin: 0;

        &.DayPicker-NavButton--prev {
          left: 22px;
        }

        &.DayPicker-NavButton--next {
          right: 22px;
        }
      }

      .DayPicker-Month {
        width: 310px;
        margin: 0;
        border-spacing: 0 5px;
        border-collapse: separate;

        & + .DayPicker-Month {
          margin-left: 20px;
        }
      }

      .DayPicker-Weekday {
        padding: 2px 0;
        color: #6B778C;
        font-size: 12px;
        font-weight: 800;
        line-height: 1;
      }

      .DayPicker-Day {
        min-width: 30px;
        padding: 0;
        font-size: 14px;
        line-height: 30px;
        outline: none;
        border-radius: 0;
        transition: border .4s, background 0.1s;
        color: #172B4D;
      }

      &:not(.DayPicker--interactionDisabled) {
        .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
          background-color: rgba(9, 30, 66, 0.08);
          border-radius: 0;
        }
      }

      .DayPicker-Day--today {
        position: relative;
        font-weight: 600;
        color: #0052CC;
      }

      .DayPicker-Day--selected {
        background-color: #253858;
        color: #fff;
        border-radius: 0;

        &:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
          background-color: #253858;
          color: #fff;
        }

        &:not(.DayPicker-Day--disabled):not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
          background-color: rgba(9, 30, 66, 0.08);
          color: #172B4D;
        }
      }


      .DayPicker-Day--start {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
      }

      .DayPicker-Day--end {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
      }

      .DayPicker-Day--disabled, .DayPicker-Day--outside {
        color: rgb(165, 173, 186);
        background-color: transparent;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 1;
  background: #fff;
}

.overlayWrapper {}
