@import 'assets/styles/mixins';

.outer {
    button {
        border-radius: 0 ;
        min-width: em(50);

    }

    button:first-child {
        border-radius: 3px 0 0 3px;
    }

    button:last-child {
        border-radius: 0 3px 3px 0;
    }

}