@import "assets/styles/mixins";

.outer {
  :global {
    .core-uikit-button {
      border-radius: 0;
      box-sizing: border-box;
      border: 1px solid #2D62C4;
      min-width: 38px;
      background: #ffffff;
      color: #45536C;

      &+.core-uikit-button {
        border-left: none;
      }
      &:not([disabled]) {
        &:hover{
          background: #0052CC;
          color: #ffffff;
        }
  
        &:active {
          background: #2D62C4;
          color: #ffffff;
        }
      }
  
      &.active {
        color: white;
        background-color: #2D62C4;

        &:hover {
          background-color: #2D62C4 ;
          color: white ;
        }
      }
    }
  }

  button:first-child {
    border-radius: 3px 0 0 3px;
  }

  button:last-child {
    border-radius: 0 3px 3px 0;
  }
}
