.wrapper {


  &.active.in {
    .container {
      transform: translateX(0);
    }

    .overlay {
      visibility: visible;
    }
  }

  .container {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 300ms ease;
  }

  .overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.2;
    z-index: 9;
    transition: opacity 300ms ease;
  }
}
