@keyframes slideIn {
  from {
    transform: translateY(calc(-55% + 0.5px));
    opacity: 0.5;
  }

  to {
    transform: translateY(calc(-50% + 0.5px));
    opacity: 1;
  }
}

.wrapper {
  .animation-slide {
    .outer {
      display: none;
      position: relative;
      top: 50%;
      margin: 0 auto;
      transform: translateY(-50%);
    }

    &.show {
      display: block;

      .outer {
        display: flex;
        animation: slideIn 0.4s;
      }
    }
  }
}
