.wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  --icon-primary-color: currentColor;

  > svg {
    display: block;
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    > path {
      fill: var(--icon-primary-color);
    }
  }

  &.direction-up {
    transform: rotate(0deg);
  }

  &.direction-down {
    transform: rotate(180deg);
  }

  &.direction-right {
    transform: rotate(90deg);
  }

  &.direction-left {
    transform: rotate(270deg);
  }
}