.wrapper {
  :global {
    .rs-table-row {
      border-bottom: 1px solid #dfe1e6;
      color: #172b4d;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }

    .rs-table-row-header {
      border-bottom: 2px solid #dfe1e6;
    }

    .rs-table-cell-header {
      .rs-table-cell-content {
        color: #7a869a;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.66666667;
        letter-spacing: 0;
        text-transform: none;
        height: auto !important;
      }
    }

    .rs-table-hover {
      .rs-table-row:not(.rs-table-row-header):hover {
        .rs-table-cell-group, .rs-table-cell {
          background-color: #fafbfc;
        }
      }
    }

    .rs-table-pagination-toolbar {
      .rs-ripple-pond {
        display: none !important;
      }

      .rs-pagination-btn {
        display: inline-flex;
        justify-content: center;
        border-radius: 3px;
        font-weight: 500;
        white-space: nowrap;
        background: none;
        height: 2.28571em;
        line-height: 2.28571em;
        vertical-align: middle;
        width: auto;
        font-size: 14px;
        transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        overflow: hidden;

        &:hover {
          background: rgba(9, 30, 66, 0.08);
          text-decoration: inherit;
          transition-duration: 0s, 0.15s;
          color: #42526E !important;
        }

        &:active {
          background: rgba(179, 212, 255, 0.6);
          transition-duration: 0s, 0s;
          color: #0052CC !important;
        }

        &.rs-pagination-btn-active {
          background: #253858;

          > a {
            background: transparent;
            color: #F4F5F7;
          }

          &:hover {
            background: #253858;
            text-decoration: inherit;
            transition-duration: 0s, 0.15s;

            > a {
              background: inherit;
              color: #F4F5F7;
            }
          }
        }

        & > a {
          color: #42526e;
          transition: opacity 0.3s;
          opacity: 1;
          padding: 0 12px;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: inherit;
          line-height: inherit;
          border-radius: 0;

          &:hover {
            background: transparent;
            color: inherit;
          }
        }
      }
    }
  }
}