@import 'assets/styles/variables';

.wrapper {
  top: 0;
  left: 0;
  z-index: 800;
  box-sizing: border-box;
  padding: 2px 6px;
  max-width: 240px;
  border-radius: 3px;
  background-color: #172b4d;
  color: #fff;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 1.3;
  pointer-events: none;

  overflow-wrap: break-word;
}

.children {
  display: inline-block;
  width: auto;
}
