.item {
  display: inline-flex;
  margin-bottom: 4px;
  align-items: center;
  min-height: 32px;
  color: #45536c;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  &.active {
    background: #f6f6f7;
    color: #0052cc;
    font-weight: bold;
  }

  &:hover {
    background: #f6f6f7;
  }

  > span {
    padding: 4px 0;
  }
}
