.item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 4px;
  height: 32px;
  color: #45536c;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;

  user-select: none;

  &.active {
    background: #f6f6f7;
    color: #0052cc;
    font-weight: bold;
  }

  &:hover {
    background: #f6f6f7;
  }
}
