.wrapper {
  // position: relative;
  // display: flex;
  // width: 100%;
  // height: 36px;
  // padding: 0 15px;
  // border: 1px solid #dddddd;
  // border-radius: 22px;
  // color: #333333;
  // background: #ffffff;
  // transition: all 0.4s;
  // overflow: hidden;
  // font-family: "Microsoft JhengHei", "Microsoft YaHei", sans-serif;

  // &:not(.disabled):not(.read-only) {
  //   &:hover,
  //   &.focused {
  //     border: 1px solid #4c9eea;
  //   }
  // }

  // &.disabled {
  //   background-color: #eeeeee;
  //   border-color: #eeeeee;
  //   color: #bbbbbb;
  //   user-select: none;
  // }

  -webkit-box-align: center;
  align-items: center;
  background-color: #fafbfc;
  border-color: #dfe1e6;
  color: #091e42;
  cursor: text;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;

  &:not(.disabled):not(.read-only) {
    &:hover {
      background-color: #ebecf0;
    }
    &:focus-within {
      background-color: #fff;
      border-color: #2D62C4;
    }
    &.invalid {
      border: 1px solid #DE350B;
    }
  }

  &.disabled {
    background: #091e420a;
    border-color: #091e420a;
    cursor: not-allowed;
    text-decoration: none;
    color: #a5adba;
    user-select: none;
  }

  .prepend,
  .append {
    height: 100%;
  }

  :global(.component-input) {
    border: none !important;
    border-radius: 0 !important;
    height: 100% !important;
    background-color: transparent;
  }
}
