@import 'assets/styles/variables';

.wrapper {
    font-size: 0.857143em;
    font-style: inherit;
    line-height: 1.33333;
    font-weight: normal;
    font-family: $font-family;
    color: #de350b;
    margin-top: 4px;
    display: flex;
}