@import 'assets/styles/mixins';

@mixin disabled {
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled]:active:hover {
    cursor: not-allowed;
    text-decoration: none;
    @content
  }
}

.wrapper {
  -webkit-box-align: baseline;
  align-items: center;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  min-width: 68px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  white-space: nowrap;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;

  &:hover {
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transition-duration: 0s, 0s;
  }

  &.block {
    width: 100%;
  }

  &.primary {
    background: #557CC4;
    color: #ffffff;

    @include disabled {
      background: #557CC4;
      color: #ffffff;
      opacity: 0.5;
    }

    &:not([disabled]) {
      &:hover {
        background: #0052CC;
        color: #ffffff;
      }

      &:active {
        background: #2D62C4;
        color: #ffffff;
      }
    }
  }

  &.secondary {
    background: #ffffff;
    color: #557CC4;
    border: 1px solid #557CC4;

    @include disabled {
      color: #557CC4;
      border-color: #557CC4;
      opacity: 0.5;
    }

    &:not([disabled]) {
      &:hover{
        background: #0052CC;
        color: #ffffff;
      }

      &:active {
        background: #2D62C4;
        color: #ffffff;
      }
    }
  }

  &.transparent {
    background: transparent;
    color: #557CC4;

    @include disabled {
      color: #557CC4;
      opacity: 0.5;
    }

    &:not([disabled]) {
      &:hover{
        color: #0052CC;
      }

      &:active {
        color: #2D62C4;
      }
    }
  }

  &.important {
    background: #de350b;
    color: #ffffff;

    @include disabled {
      background: #de350b;
      color: #ffffff;
      opacity: 0.5;
    }

    &:not([disabled]) {
      &:hover{
        background: #ff5630;
        color: #ffffff;
      }

      &:active {
        background: #bf2600;
        color: #ffffff;
      }
    }
  }
}
