@keyframes anvil {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

:global {
  .core-tooltip-arrow {
    color: #172b4d;
  }

  .core-tooltip-content {
    max-width: 180px;
    border-radius: 3px;
    background-color: #172b4d;
    color: #fff;
    padding: 10px 14px;

    :local {
      animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    }
  }
}
